/*---------
    RESET 
 ---------*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*---------
    Common 
 ---------*/

.flex {
    display: flex;
}

.align {
    align-items: center;
}

center {
    justify-content: center;
}

.grow {
    flex-grow: 1;
}

body {
    background: linear-gradient(to bottom, #009688 15%, #d9dbd4 15%);
    height: 100vh;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 30px 0;
}

img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    padding: 5px;
}

.fa-solid,
.fa-face-smile {
    color: #b1b1b1;
    padding: 0 10px;
}

.bell {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: white;
    color: #8edafc;
    text-align: center;
    justify-content: center;
    margin: 0 10px;
}
h6{
    color: gray;
}

/*---------
   Main left
 ---------*/

.left {
    width: 30%;
}

.right {
    width: 60%;
    border-left: 1px solid gray;
}

.left header,
.right header,
.right-footer {
    background-color: #eaeaea;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

.notification-space {
    background-color: #8edafc;
    padding: 10px 0;
}

.notification-space i{
    color: #8edafc;
}



.find {
    background-color: grey;
    padding: 10px 0;
}

.chat-users {
    background-color: white;
    height: 590px;
    overflow-y: scroll;
}

.utente {
    padding: 0 10px;
    border-top: 1px solid lightgray;
    outline: 1px solid lightgray;
}

.lente {
    background-color: white;
    border: 1px solid lightgray;
    text-align: center;
    width: 20%;
}

.grow h6, .utente h6{
    color: lightgray;
}

/*---------
  Main right
 ---------*/

.window-chat {
    background-image: url(../img/mine.jpg);
    height: calc(100% - 100px);
    padding-top: 50px;
}

.window-chat ul {
    list-style: none;
}

.window-chat li {
    margin-bottom: 10px;
}

.time {
    font-size: 12px;
    color: #a0a0a0;
    padding-left: 5px;
}

.inviato {
    display: flex;
    padding-left: 70px;
}

.ricevuto {
    display: flex;
    justify-content: right;
    padding-right: 70px;
}

.ricevuto div {
    background-color: #d6f8bc;
    padding: 10px;
    border-radius: 10px;
}

.inviato div {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}

.smile, .microfono{
    width: 10%;
    text-align: center;
}
