/*---------
    RESET 
 ---------*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    width: 900px;
    height: 700px;
    margin: 0 auto;
    
}

.left{
    width: 40%;
    height: 100%;
    border-right: 1px solid black;
}

.right{
    width: 60%;
    height: 100%;
}

.left header, .right header, .right-footer{
    height: 50px;
    background-color: aliceblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.notification-space{
    background-color: #8edafc;
    height: 60px;
}

.find{
    background-color: white;
    height: 20px;
}

.chat-users{
    background-color: lightgray;
    height: 570px;
}

.window-chat{
    background-color: lightcoral;
    height: 600px;
}
