/*---------
    RESET 
 ---------*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*---------
    Common 
 ---------*/

.flex{
    display: flex;
}

.align{
    align-items: center;
}

body {
    background: linear-gradient(to bottom, #009688 15%, #d9dbd4 15%);

}

.container {
    width: 900px;
    height: 100%;
    margin: 0 auto;

}

img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    padding: 5px;
}

.fa-solid{
    color: #b1b1b1;
    padding: 0 10px;
}

.bell{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: white;
    color: #8edafc;
    text-align: center;
    justify-content: center;
    margin: 0 10px;
}

/*---------
   Main
 ---------*/

.left {
    width: 40%;
}

.right {
    width: 60%;
    border-left: 1px solid gray;
}

.left header,
.right header,
.right-footer {
    background-color:#eaeaea;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

.notification-space {
    background-color: #8edafc;
    height: 60px;
}

.find {
    background-color: white;
    height: 30px;
}

.chat-users {
    background-color: lightgray;
    height: calc(100vh - 140px);
}

.window-chat {
    background-color: lightcoral;
    height: calc(100vh - 100px);
}